@page
<link rel="stylesheet" href="~/css/style.css" />

<div id="divMain" class="centered">
    <div id="divLogin" class="centered">
        <h5>name</h5>
        <input type="text" id="txtLogin" />
    </div>
</div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/messaging.js"></script>